
/*!* 시작 전 메인 백그라운드 이미지 *!*/
/*section.main-content {*/
/*    background: url("https://ssl.nexon.com/s2/Game/baramy/2023/brand/0921/pc/visual_250522.jpg");*/
/*}*/
/*{*/
/*    background: url("https://ssl.nexon.com/s2/Game/baramy/2023/brand/0921/pc/job_bg.jpg");*/
/*}*/
button {
    background: none;
    border: none;
}
body {
    font-size: 16px;
}

/* 해더 */
header.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    font-size: 16px;
}
header.header-container .header-left {
    font-size: 1.1em;
}
header.header-container .header-left:hover {
    color: #0076fd;
    cursor: pointer;
}
header.header-container .header-left .header-menu-icon{
    margin-right: 5px;
}
header.header-container .header-logo {
    padding-left: 8%;
}
header.header-container .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header.header-container .header-right .hyundai-card {
    font-size: 1em;
    position: relative;
    padding: 5px 10px;
    height: 100%;
}
header.header-container .header-right .hyundai-card .n-badge i {
    color: #0076fd;
    position: absolute;
    left: 50%;
    top: -5%
}
header.header-container .header-right .hyundai-card .n-badge span {
    font-size: 0.7em;
    color: #fff;
    position: absolute;
    left: 62%;
    top: 3%
}
header.header-container .header-right .hyundai-card:hover {
    color: #0076fd;
    cursor: pointer;
}
header.header-container .header-right .hidden-card-name {
    display: none;
}
header.header-container .header-right .find-pc {
    padding-left: 10px;
}
header.header-container .header-right .find-icon a {
    display: block;
    width: 25px;
    height: 25px;
    background: url("//rs.nxfs.nexon.com/gnb/images/ic-pcbang2-location.svg") no-repeat;
}
header.header-container .header-right .find-icon a:hover {
    background: url("//rs.nxfs.nexon.com/gnb/images/ic-pcbang2-location-hover.svg") no-repeat;
}

header.header-container .header-right .hidden-find-pc {
    display: none;
}
header.header-container .header-right .join {
    font-size: 0.9em;
    padding: 5px 10px;
    height: 100%;
}
header.header-container .header-right .join:hover {
    color: #0076fd;
}
header.header-container .header-right .log-in {
    font-size: 1em;
    border: 2px solid #000;
    border-radius: 15px;
    height: 100%;
    padding: 7px 20px;
    font-weight: 700;
}
header.header-container .header-right .log-in:hover {
    color: #fff;
    border: 2px solid #0076fd;
    background: #0076fd;
    border-radius: 15px;
}

/* nav */
section.nav-wind {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #090806;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-wind .wind-logo {
    flex: 2;
    position: relative;
    right: 2em;
}
.nav-wind .wind-logo:hover {
    cursor: pointer;
}
.nav-wind .wind-logo img {
    width: 55%;
}
section.nav-wind .center-list {
    flex: 7;
}
section.nav-wind .center-list ul{
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
    font-weight: 700;
}
section.nav-wind .center-list ul li {
    padding-right: 8%;
}
section.nav-wind .center-list ul li a:hover {
    color: #88cafd;
}

section.nav-wind .wind-right {
    flex: 1;
    align-items: center;
    color: #fff;

}
section.nav-wind .wind-right .wind-coupon-youtube{
    display: flex;
    justify-content: flex-end;
}
section.nav-wind .wind-right .wind-coupon-youtube a {
    padding-right: 15%;
}
section.nav-wind .wind-right .wind-coupon-youtube a:hover{
    opacity: 0.6;
    }
.wind-start .pc-start {
    padding: 0;

}
section.nav-wind .wind-start{
    overflow: hidden;
    position: relative;
    /*left: 4px;*/
}
section.nav-wind div.wind-start img {
    position: absolute;
    z-index: 2;
    left: 12%;
    top: 25%;
}
section.nav-wind div.wind-start img:hover {
    cursor: pointer;
}
section.nav-wind div.wind-start .pc-start {
    height: 100%;
}
section.nav-wind div.wind-start .pc-start:hover {
    opacity: 0.5;
    cursor: pointer;
}
section.nav-wind div.wind-start .pc-start video {
    transform: scale(1.1);
}
aside.right-cd-playlist {
    display: flex;
    background: no-repeat url("https://ssl.nexon.com/s2/Game/baramy/2023/brand/0921/common/bgm_border.png");
    background-size: contain;
    color: #fff;
    position: sticky;
    left: 83%;
    top: 13em;
    height: 110px;
    width: 10%;
    z-index: 11;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}
aside.right-cd-playlist .cd-icon {
    position: absolute;
    left: 35%;
    bottom: 99%;
}
aside.right-cd-playlist .cd-bar {
    border: 1px solid #4c4c4c;
    width: 80%;
}

aside.right-cd-playlist .hidden-cd-list {
    position: absolute;
    bottom: 0;
    width: 3em;
    height: 1.5em;
    border-radius: 50%;
}
aside.right-cd-playlist .hidden-cd-list:hover {
        cursor: pointer;
}

/* 메인 컨텐츠*/
main.main-container {
    width: 99vw;
    background: no-repeat url("https://ssl.nexon.com/s2/Game/baramy/2023/brand/0921/pc/visual_250522.jpg");
    background-size: contain;
}
.main-container section.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4em;
}
.info-img {
    border-bottom: 8px solid #0082f0;
    width: 90%;
}
.info-img-under-bar {
    width: 1200px;
    position: relative;
    bottom: 8px;
}
.main-content .info-img-under-bar .info-bar-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 0 2em;
}
.main-content .info-img-under-bar .info-bar-icon button{
    padding-right: 1.4em;
    color: #fff;
}
.main-content .info-img-under-bar .info-bar-icon button:hover {
    cursor: pointer;
}
.main-content .info-img-under-bar .info-bar-icon button span {
    font-size: 2em;
    opacity: 0.5;
}
.main-content .info-img-under-bar .info-bar-icon .info-nav ul {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
}
.main-content .info-img-under-bar .info-bar-icon .info-nav ul li  {
    display: flex;
    width: 180px;
    align-items: center;
    font-size: 1.1em;
    height: 4.5em;
    opacity: 0.5;
}
.main-content .info-img-under-bar .info-bar-icon .info-nav ul li:first-child {
    opacity: inherit;
}
.main-content .info-img-under-bar .info-bar-icon .info-nav ul li span {
    flex: 1;                /* 핵심: 너비를 꽉 채워야 줄임 처리됨 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-content .info-img-under-bar .info-bar-icon .info-nav ul li:hover {
    opacity: inherit;
    cursor: pointer;
}

/*중앙 컨텐츠*/
.center-info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #fff;
    width: 1200px;
    margin-top: 4em;
    position: relative;

}
.center-info ul.center-left-list {
    font-size: 1.8em;
    font-weight: 700;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255,255,255,0.5);
    flex: 1;
}
.center-info .center-left-list li {
    opacity: 0.5;
}
.center-info .center-left-list li:first-child {
    opacity: 1;
}
.center-info .center-left-list li:hover {
    cursor: pointer;
    opacity: 1;
}
.center-info  .plus-icon  {
    position: absolute;
    color: #fff;
    left: 21.5%;
    font-size: 1.3em;
    top: 40%;
    border-radius: 50%;
    /*font-weight: bold;*/
    border: 1px #ffffff solid;
}
.center-info  .plus-icon:hover {
    cursor: pointer;
}
.center-info  .center-right-list {
    height: 180px;
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1em;
    padding-left: 4.5em;
}
.center-info  .center-right-list li{
    display: flex;
    justify-content: space-between;
}
